* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --purple-color :#dc4f72 ;
    --text-color :#333;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.main {
    position: relative;
}
.header {
    height: 70px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
}
.header_navbrand-link {
    color: var(--purple-color);
    font-size: 26px;
    font-weight: 700;
}
.header_navbrand-link:hover {
    color: var(--purple-color);
}
.navsub_right  {
    background-color: #fff;
}
.navsub_right ul li a {
    color :var(--text-color);
    margin-right: 15px;
    transition: all 0.5s ease;
    position: relative;
}
.header_navsub-line {
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: 5px;
    background-color: var(--purple-color);
}
.btn_navbar {
    background-color: var(--purple-color);
    color: #fff;
}
.navsub_right ul li a:hover {
    color: var(--purple-color);
}
.navsub_right ul li a:focus {
    color: var(--purple-color);
}
.navsub_right ul li a:hover .header_navsub-line {
    width: 22px;
    transition: all 0.5s ease-in-out;
}
.navsub_right ul li .btn_header_navsub {
    background-color: #fff !important;
    color: var(--purple-color);
    border: 1px solid var(--purple-color);
    border-radius: 5px;
    line-height: 54px;
    margin: 0;
    padding: 0px 30px !important;
    font-weight: bold;
}
.navsub_right ul li .btn_header_navsub:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}
.navsub_right ul li .btn_header_navsub:hover {
    background-color: var(--purple-color) !important;
    color: #fff;
}
.navsub_pages {
    left: -50% !important;
}
.navsub_ribbon_top {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    top: -4%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: #fff;
}
.navsub_ribbon_top::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: block;
}
/*  */
.right_sidebar {
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 999;

}
.bg_right_sidebar {
    background-color: #0D1326;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bg_right_sidebar .btn_back {
    width: 87%;
    border-top: 1px solid #555;
}
.item_right_sidebar a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #e6ebff;
    opacity: 0.5;
}
.item_right_sidebar a:hover {
    opacity: 1;
}
/* reponsive HEADER */
@media (max-width:991px) {
    .header_bg {
        max-width: 100%;
        padding: 0;
    }
    .btn_navbar {
        margin-right: 10px;
    }
    .header_navbrand-link {
        margin-left: 10px;
    }
    .navsub_ribbon_top {
        top: 21%;
    }
    .navsub_right{
        padding-bottom: 20px;
    }
    /* .navsub_right .dropdown {
        text-align: center;
    } */
}
@media (max-width:400px){
    .bg_right_sidebar {
        width: 67px;
    }
}
/* END HEADER */
/* START title_starup*/
.title_starup {
   
    margin-top: 70px;
}
.title_starup-content {
    padding-top: 60px;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/background-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.title_starup-content .container {
   
}
.title_starup-content-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--text-color);
}
.title_starup-content-text p {
    max-width: 340px;
}
.title_starup-content-text button {
    border-color: var(--purple-color);
    color: var(--purple-color);
    font-weight: bold;
    line-height: 41px;
    max-width: 157px;
}
.title_starup-content-text button:hover {
    background-color: var(--purple-color);
    color: #fff;
    transition: 0.3s ease-out;
}
.title_starup-content-img img {
    transform: rotate(180deg);
    max-width: 507px;
    width: 100%;
}
/* END title-startup1 */
/* START title - startup2 */
.title_starup2 .text-center h6 {
    color: var(--purple-color);
}
.title_starup2 .text-center h2 {
    font-size: 46px;
    color: #2c3038;
    max-width: 630px;
    margin: auto;
}
.title_starup2 .text-center p {
    max-width: 740px;
    margin: auto;
}
.tittle_startup2_group_card {
    width: 30%;
}
.tittle_startup2_card_item {
    padding: 48px 32px;
    background-color: #f7f9fc;
    transition: 0.3s ease-in;
    border: 0px;
}
.tittle_startup2_card_item a {
    text-decoration: none;
    text-align: center;
}
.tittle_startup2_card_item a img {
    max-width: 72px;
    max-height: 72px;
}
.tittle_startup2_card_item:hover {
    background-color: #fff;
    box-shadow :0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-10px);
}
/* END title - startup2 */
/* START title - startup3 */
.title_starup3 {
    background-color: #f7f9fc;
}
.title_starup3-card div h6 {
    color: var(--purple-color);
}
.title_starup3-card div p {
    color: var(--text-color);
    max-width: 495px;
}
.title_starup3-card div .btn {
    background-color: var(--purple-color);
    color: #fff;
    max-width: 146px;
    line-height: 41px;
    font-weight: 500;
}
.title_starup3-card div .btn:hover {
    background-color: #d62f58;
}
.title_starup3-img img{
    transition: 0.3s ease-in;
}
.title_starup3-img img:hover {
    transform: translateY(-10px);
}
.title_starup3 .group_number {}
.title_starup3 .group_number .number_item {
    padding: 32px;
    width: 32%;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3s ease-in;
}
.title_starup3 .group_number .number_item h3 {
    color: #2C3038;
    font-size: 16px;
}
.title_starup3 .group_number .number_item span {
    color: var(--purple-color);
    font-size: 45px;
    font-weight: bold;
}
.title_starup3 .group_number .number_item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
/* END title_starup3 */
/* START tittle_starup4 */
.tittle_starup4 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),url(../img/bg-start4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.tittle_starup4-card {
    max-width: 560px;
}
.tittle_starup4-card h2 {
    color: #fff;
}
.tittle_starup4-card p {
    color: #eee;
}
.tittle_starup4-card a {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 41px;
    font-weight: 500;
}
.tittle_starup4-card a:hover {
    background-color: #e2e6ea;
    color: #212529;
}
/* END title_starup4 */
/*  START title_starup5*/
.tittle_starup5 .text-center h6 {
    color: var(--purple-color);
    font-size: 17px;
}
.tittle_starup5 .text-center h2 {
    font-size: 46px;
}
.tittle_starup5 .text-center p {
    max-width: 740px;
    margin: auto;
    color: var(--text-color);
}
.tittle_starup5 .container .group_card {
    width: 32%;
}
.tittle_starup5_card-body {
    padding: 30px 20px;
}
.tittle_starup5_card-body span {
    background-color: #fcdfe4;
    padding: 5px 8px;
    font-size: 12px;
    color: #dc4f72;
}
.tittle_starup5_card-body .design {
    color: #008000;
    background-color: rgba(0,128, 0, 0.2);
}
.tittle_starup5_card-body .industry {
    color: #0000ff;
    background: rgba(0, 0, 255, 0.2);
}
.tittle_starup5_card-body h5 {
    font-size: 22px;
}
.tittle_starup5_card-body h5 a {
    text-decoration: none;
    color: #2c3038;
}
.tittle_starup5_card-body div {
    border-top: 1px solid #eee;
}
.tittle_starup5_card-body div a {
    text-decoration: none;
    color: var(--purple-color);
    font-weight: 500;
}
.tittle_starup5_card-body div a i {
    font-size: 11px;
    transition: 0.3s ease-in;
}
.tittle_starup5_card {
    position: relative;
    border-radius: 10px;
    transition: 0.3s ease-in;
}
.tittle_starup5_card a img {
    filter: grayscale(1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.3s ease-in;
}
.tittle_starup5_card .date {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #dc4f72;
    color: #fff;
    font-size: 22px;
    padding: 11px 8px;
    border-top-right-radius: 10px;
}
.tittle_starup5_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
.tittle_starup5_card:hover a img {
    filter: grayscale(0);
}
.tittle_starup5_card:hover div h5 a {
    color: var(--purple-color);
}
.tittle_starup5_card:hover .tittle_starup5_card-body  div a i {
    margin-left: 5px;
}
/*  END title_starup5*/
/*  START title_starup6*/
.tittle_starup6 {
    background-color: #f7f9fc;
}
.tittle_starup6 div p {
    max-width: 730px;
    margin: auto;
}
.tittle_starup6 div h6 {
    color: var(--purple-color);
}
.tittle_starup6 div h2 {
    font-size: 46px;
}
.tittle_starup6-img {
    width: 40%;
    transition: 0.3s ease-in;
}
.tittle_starup6-img:hover {
    transform: translateY(-10px);
}
.tittle_starup6 .container .text_dropdown {
    width: 60% !important;
    padding-left: 30px;
}
.accordion-item.mb-3.text_dropdown-item {
    margin-bottom: 15px !important;
    border-radius: 10px;
    border: 1px solid #eee;
}
button.accordion-button.py-4.collapsed,
button.accordion-button.py-4.collapsed,
button.accordion-button.py-4.collapsed {
    font-size: 20px;
    border-radius: 10px;
}
.accordion-button:not(.collapsed) {
    color: #2c3038;
    font-size: 20px;
}
.accordion-item:first-of-type .accordion-button,
button.accordion-button.py-4 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-color: #eee;
    background-color: #fff;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%)
}
.text_item_dropdown_tittle_starup6 {
    padding: 5px 18.8px 20px 18.8px;
    font-size: 16px;
}
.accordion-flush .accordion-item .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 10px;
}
/* END title_starup6*/
/* START title_starup7 */
.tittle_starup7 .text-center h6 {
    color: var(--purple-color);
}
.tittle_starup7 div h2 {
    font-size: 46px;
}
.tittle_starup7 div p {
    max-width: 730px;
    margin: auto;
}
.tittle_starup7_container {
    max-width: 950px;
    margin: auto;
}
.carousel-indicators {
    top: 0;
    bottom: 100%;
    margin: 0;
}
.tittle_starup7_container-accordion {
    display: none;
}
.carousel-indicators a {

}
.btn_carousel_title_startup7 {
    text-decoration: none;
    color: var(--purple-color);
    line-height: 41px;
    display: inline-block;
    padding: 2px 15px;
    border-color: var(--purple-color);
    border: 1px solid;
    transition: 0.3s ease-in;
}
.img.w-50.rounded-3.float-end,.img.w-50.rounded-3.float-start {
    transition: 0.3s ease-in-out;
}
.img.w-50.rounded-3.float-end:hover {
    transform: translateY(-10px);
}
.img.w-50.rounded-3.float-start:hover {
    transform: translateY(-10px);
}
.btn_carousel_title_startup7:hover {
    background-color: var(--purple-color);
    color: #fff;
}
.carousel-indicators [data-bs-target] {
    background-color: #dc4f72;
    width: 33.3333%;
}
div#carouselExampleIndicators {
    padding-top: 50px !important;
}
.carousel-inner {
    overflow: unset;
}


.tittle_starup8 {
    background: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)),url(../img/bg-cloud.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.owl_carousel-item {
    background-color: #fff;
    padding: 20px;
}
.owl_carousel-item .item1-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid #dc4f72;
}
.owl_carousel-item i {
    font-size: 32px;
    color: #d5d6d7;
}
.owl_carousel-item .item1-description {
    min-width: 250px;
}
.owl_carousel-item .item1-description p {
    line-height: 26px;
    color: #2c3038;
    font-size: 18px;
}
.owl_carousel-item .item1-description h5 {
    color: var(--purple-color);
}
.owl_carousel-item .item1-description span {
    font-size: 14px;
}
.owl-carousel .owl-dots button {
    background-color: #fff;
    outline: none;
    border: none;
    width: 50px;
    height: 8px;
    cursor: pointer;
    margin: 0px 5px;
}
.owl-carousel .owl-dots button span {
    display: block;
    background: transparent;
    width: 50px;
    height: 8px;
    transition: all 200ms ease;
    margin-right: 20px ;
}
.owl-carousel .owl-dots button.active span {
    background-color: var(--purple-color);
}
.owl-dots {
    text-align: center;
}

.owl-carousel .owl-nav button {
    background-color: #fff !important;
    outline: none;
    border: none;
    width: 50px;
    height: 8px;
    cursor: pointer;
    margin-right: 20px;
}
.owl-carousel .owl-nav button span {
    display: block;
    background: transparent;
    width: 50px;
    height: 8px;
    transition: all 200ms ease;
    margin-right: 20px ;
}





/* START FOOTER */
.footer_description .bg_description {
    padding-left: 30px;
    padding-right: 30px;
}
.footer_description .bg_description h1 {
    font-size: 46px;
    font-weight: 700;
}
.footer_description .bg_description p {
    font-weight: 400;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.footer_group-btn .book {
    border: 1px solid var(--purple-color);
    color: var(--purple-color);
    font-weight: 700;
    padding: 0px 20px;
    line-height: 46px;
}
.footer_group-btn .book:hover {
    background-color: var(--purple-color);
    color: #fff;
    transition: 0.3s ease-out;
}
.footer_group-btn .stared {
    background-color: var(--purple-color);
    color: #fff;
    line-height: 46px;
    padding: 0px 28px;
}
.footer_group-btn .stared:hover {
    background-color: #d62f58;
    transition: 0.3s ease-out;
}
/* footer-contact */
.footer_contact {
    background-color: #f7f9fc;
}
.bg_footer_contact {
    display: flex;
    flex-wrap: wrap;
}
.footer_contact .container div {
    width: 20%;
}
.footer_contact .container div h3 {
    color: #2c3038;
    font-size: 20px;
    margin-bottom: 30px;
}
.footer_contact .container div ul li {
    list-style: none;
    margin: 10px 0px;
}
.footer_contact .container div ul li a {
    text-decoration: none;
    color: var(--text-color);
}
.footer_contact .container div ul li a:hover {
    color: var(--purple-color);
}
.footer_contact .newsletter {
    width: 40% !important;
}
.footer_contact .newsletter .container_form {
    padding: 32px;
    background-color: #fff;
    width: 100%;
}
.footer_contact .newsletter .container_form input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #f7f9fc;
}
.footer_contact .newsletter .container_form button {
    padding: 12px 20px;
    background-color: var(--purple-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
}
.footer_contact .newsletter .container_form p {
    line-height: 22px;
    color: #5a5a5a;
}
.footer_social {
    background-color: #f7f9fc;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer_social .container {
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
}
.social_icon_footer a {
    text-decoration: none;
    margin-left: 25px;
    color: var(--text-color);
}
.social_icon_footer a:hover {
    color: var(--purple-color);
    transition: 0.5s ease-out;
}
/* reponsive */
@media (max-width:991px) {
    .bg_footer_contact {
        max-width: 100%;
    }
    .footer_contact .container div {
        width: 33.33333%;
    }
    .footer_contact .newsletter {
        width: 100% !important;
    }
    .footer_social .container {
        flex-direction: column;
        align-items: center;
        max-width: 96%;
    }
    .footer_contact .newsletter {
        margin-top: 25px;
    }
}
@media (max-width:767px) {
    .footer_contact .container div {
        width: 100%;
    }
    .footer_contact .container div h3 {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}
@media (max-width:418px) {
    .footer_group-btn {
        flex-direction: column;
    }
    .footer_group-btn .stared {
        max-width: 200px;
        line-height: 46px;
        margin-top: 15px;
        margin-left: 0px !important;
    }
    .footer_group-btn .book {
        max-width: 200px;
        margin-right: 0px !important;
    }
}
